<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/small-reset.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/registration-common.css">
    <link rel="stylesheet" href="../css/sign-up.css">
    <script defer src="../js/sign-up.js"></script>
    <title>Document</title>
</head>
<body>
    <header class="blue-section">
        <h1>
            <img src="../../assets/images/megarocket-logo.png" alt="MegaRocket">
        </h1>
    </header>
    <main>
        <section>
            <div>
                <a href="../views/log-in.html">
                    <button id="back-btn" >
                        <img src="../../assets/images/close-back.png" alt="back">
                    </button>
                </a>
                <h2>Sign up</h2>
            </div>
            <form>
                <div class="container first">
                    <div>
                        <label for="first-name">
                            Name
                        </label>
                        <div id="name-error-div" class="error">
                            <label id="name-error" class="hidden small" for="first-name">
                                Input required
                            </label>
                        </div>
                    </div>
                    <input id="name" class="register-input" name="first-name" type="text" placeholder="Name">
                    <div>
                        <label for="last-name">
                            Last name
                        </label>
                        <div id="last-name-error-div" class="error">
                            <label id="last-name-error" class="hidden small" for="last-name">
                                Input required
                            </label>
                        </div>
                    </div>
                    <input id="last-name" class="register-input" name="last-name" type="text" placeholder="Last Name">
                    <div>
                        <label for="id">
                            Id
                        </label>
                        <div id="id-error-div" class="error">
                            <label id="id-error" class="hidden small" for="id">
                                Input required
                            </label>
                        </div>
                    </div>
                    <input id="id" class="register-input" name="id" type="text" placeholder="Id">
                    <div>
                        <label for="phone-number">
                            Phone Number
                        </label>
                        <div id="phone-number-error-div" class="error">
                            <label id="phone-number-error" class="hidden small" for="phone-number">
                                Input required
                            </label>
                        </div>
                    </div>
                    <input id="phone-number" class="register-input"
                    type="text" name="phone-number" placeholder="Phone Number">
                    <div>
                        <label for="date-of-birth">
                            Date of Birth
                        </label>
                        <div id="date-of-birth-error-div" class="error">
                            <label id="date-of-birth-error" class="hidden small" for="date-of-birth">
                                Input required
                            </label>
                        </div>
                    </div>
                    <input id="date-of-birth" class="register-input" type="date" name="date-of-birth" placeholder="birth day">
                    <div>
                        <label for="password">
                            Password
                        </label>
                        <div id="password-error-div" class="error">
                            <label id="password-error" class="hidden small" for="password">
                                Input required
                            </label>
                        </div>
                    </div>
                    <input id="password-input" class="register-input"
                    type="password" name="password" placeholder="Password">
                </div>
                <div class="container">
                    <span id="image-placeholder">
                        <img src="../../assets/images/camera.png" alt="camera">
                    </span>
                    <div>
                        <label for="city">
                            City
                        </label>
                        <div id="city-error-div" class="error">
                            <label id="city-error" class="hidden small" for="city">
                                Input required
                            </label>
                        </div>
                    </div>
                    <input id="city" class="register-input" type="text" name="city" placeholder="City">
                    <div>
                        <label for="address">
                            Address
                        </label>
                        <div id="address-error-div" class="error">
                            <label id="address-error" class="hidden small" for="address" >
                                Input required
                            </label>
                        </div>
                    </div>
                    <input id="address" class="register-input" type="text" name="address" placeholder="Address">
                    <div>
                        <label for="zip">
                            Zip
                        </label>
                        <div id="zip-error-div" class="error">
                            <label id="zip-error" class="hidden small" for="zip">
                                Input required
                            </label>
                        </div>
                    </div>
                    <input id="zip" class="register-input" type="text" name="zip" placeholder="Zip">
                    <div>
                        <label for="email">
                            Email
                        </label>
                        <div id="email-error-div" class="error">
                            <label id="email-error" class="hidden small" for="email">
                                Input required
                            </label>
                        </div>
                    </div>
                    <input id="email-input" class="register-input"
                    type="text" name="email" placeholder="email@address.com">
                    <div>
                        <label for="repeat">
                            Repeat Password
                        </label>
                        <div id="repeat-password-error-div" class="error">
                            <label id="repeat-password-error" class="hidden small" for="repeat">
                                Input required
                            </label>
                        </div>
                    </div>
                    <input id="repeat-password-input" class="register-input"
                    type="password" name="repeat" placeholder="Repeat Password">
                </div>
            </form>
        </section>
        <button id="continue-btn" type="submit">
            continue
        </button>
    </main>
</body>
</html>