:root {
    --blue: #373867;
    --green: #AACE9B;
    --gray: #D9D9D9;
    --side-bar-green: #E5F2ED;
    --nav-green: #51A884;
    --button-green: #88A47C;
}
@font-face {
    font-family:'Roboto-light';
    src: url('../../assets/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
  }
@font-face {
    font-family:'Roboto';
    src: url('../../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
  }
@font-face {
    font-family:'Mulish';
    src: url('../../assets/fonts/Mulish/Mulish-VariableFont_wght.ttf') format('truetype');
  }
body {
    width: 1512px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: auto;
    color: white;
}
header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 156px;
}
aside {
    margin-top: 0px;
    padding-top: 0px;
    max-width: 427px;
    text-align: center;
    overflow-x: hidden;
    background-color: var(--side-bar-green);
}
nav {
    margin-bottom: 156px;
    font-family: 'Roboto-light', sans-serif;
    background-color: var(--side-bar-green);
}
h1 {
    margin-top: 58px;
    margin-bottom: 59px;
    margin-right: 85px;
    width: 206px;
    height: 42px;
    position: relative;
    right: 85px;
    top: 30px;
    float: right;
}
h2 {
    text-transform: uppercase;
}
a {
    text-decoration: none;
}
a:visited {
    color: white;
}
form {
    display: inline-block;
}
select option {
    width: 400px;
    border-radius: 5px;
    display: inline-block;
}
textarea {
    padding-top: 10px;
    padding-left: 12px;
    width: 745px;
    height: 174.76px;
    border-radius: 4px;
    display: block;
    position: relative;
    top: 40px;
}
footer {
    font-size: 32px;
    overflow: hidden;
    color: black;
}
.inline-block {
    display: inline-block;
}
/* ------------------------------ */
.blue-section {
    background-color: var(--blue);
}
#in-header {
    margin-top: 65px;
    margin-left: 40px;
}
#in-aside {
    margin-top: 30px;
    margin-right: 14px;
    float: right;
}
.nav-h4 {
    margin-right: 34px;
    margin-left: 23px;
    width: 370px;
    height: auto;
    border: solid black 1px;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--nav-green);
}
.padding {
    padding-top: 20px;
    padding-bottom: 20px;
}
.sidebar-img {
    display: inline-block;
}
#nav-menu {
    display: inline-block;
    font-size: 40px;
    color: black;
}
.sidebar-img {
    padding-bottom: 54px;
    width: 82px;
    height: 82px;
    display: block;
    position: relative;
    right: 15px;
}
#text-align {
    width: 61%;
    display: inline-block;
    position: relative;
    left: 20px;
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    text-transform: capitalize;
}
#text-align li {
    margin-bottom: 20px;
    padding-bottom: 54px;
    line-height: normal;
}
/* ---------------------------------- */
.gray-section {
    background-color: var(--gray);
    color: black;
}
#home {
    height: 580px;
    font-size: 32px;
}
#Mulish {
    margin: 0;
    padding-top: 34px;
    font-size: 42px;
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    vertical-align: top;
}
#Mulish-h3 {
    padding-top: 0px;
    padding-bottom: 20px;
    font-size: 32px;
    font-weight: 600;
}
#left-text {
    margin-left: 80px;
    display: inline-block;
}
#fit-dude {
    margin-top: 150px;
    margin-bottom: 118px;
    margin-right: 63px;
    margin-left: 64px;
    width: 267px;
    height: 236px;
    float: right;
}
#smaller-p {
    width: 1034px;
}
.home-p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 23px;
    font-weight: 400;
    line-height: 50px;
}
/* ---------------------------------- */
.green-section {
    background-color: var(--green);
}
#options {
    height: 710px;
    font-size: 26px;
}
.options-img {
    width: 110px;
    height: 110px;
}
.top2 {
    margin: 0;
    margin-left: 80px;
    padding-top: 30px;
    width: 1300px;
    height: 350px;
}
.bottom2 {
    margin: 0;
    margin-left: 80px;
    padding-bottom: 40px;
    width: 1340px;
    height: 350px;
}
.logo-less {
    margin-right: 90px;
    width: 440px;
    display: inline-block;
    vertical-align: top;
}
.logo-less > h4 {
    padding-left: 36px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 320px;
    height: 35px;
    border: solid black 1px;
    border-radius: 5px;
    box-shadow: 1px 4px 4px 0 #849F78;
    font-weight: 600;
    text-align: left;
    background-color: var(--button-green);
}
.logo-less p {
    line-height: 35px;
    width: 385px;
}
.right {
    position: relative;
    left: 100px;
}
#problem-p {
    margin-right: 0;
    width: 510px;
}
#problem-h4 {
    text-align: left;
}

/* ------------------------------- */
#form {
    padding-bottom: 100px;
    height: auto;
    overflow-x: hidden;
    background-color: #35365C;
}
#form div {
    display: inline-block;
}
#form > h3 {
    margin-top: 40px;
    margin-bottom: 45px;
    margin-right: 53px;
    margin-left: 80px;
    font-size: 60px;
    font-weight: 400;
}
.input {
    margin-top: 40px;
    margin-bottom: 30px;
    margin-right: 100px;
    margin-left: 119px;
    padding-left: 12px;
    width: 400px;
    height: 37px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    overflow-x: hidden;
    display: block;
    color: #A4D1BD;
}
::placeholder {
    font-size: 14px;
    font-family: 'Roboto';
    color: #A4D1BD;
}
.form-btn {
    margin-top: 60px;
    margin-left: 220px;
    width: 151px;
    height: 70px;
    border-radius: 25px;
    border-color: black;
    border-width: 2px;
    outline: solid black 3px;
    display: inline;
    position: relative;
    top: 30px;
    font-size: 37px;
    background-color: #49A37B;
}
#send {
    margin-top: 5px;
}
#x {
    width: 30px;
    height: 30px;
}
#info {
    overflow-x: hidden;
    font-size: 50px;
    font-weight: 600;
    line-height: 59px;
}
#info > p {
    margin-top: 17px;
    margin-bottom: 43px;
    margin-right: 70px;
    margin-left: 70px;
    width: 1330px;
}
#info > h2 {
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 50px;
    font-size: 50px;
    font-weight: 600;
}
#memberships-choices {
    max-height: 360px;
    font-size: 24px;
    text-align: center;
}
.violet-h {
    margin: 0px;
    margin-top: 71px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    width: 320px;
    border: solid #373867;
    border-radius: 5px;
    overflow-x: hidden;
    font-weight: 500;
    text-align: left;
    color: #373867;
}
.membership-l {
    width: 300px;
    display: inline-block;
    position: relative;
    left: 50px;
    font-weight: 550;
    line-height: 28px;
    vertical-align: top;
}
.whole-l {
    margin-right: 150px;
    width: 220px;
    display: inline-block;
    font-size: 24px;
    vertical-align: top;
}
.small-h4 {
    width: 260px;
}
#margin {
    margin-right: 50px;
    margin-left: 25px;
}
#activities {
    width: auto;
}
#classic {
    width: 260px;
}
#footer-p {
    width: 765px;
    margin-top: 55px;
    margin-left: 45px;
    display: inline-block;
}
#img-f {
    margin-top: 31px;
    margin-bottom: 31px;
    margin-right: 31px;
    float: right;
}
.social-media-img {
    padding-right: 55px;
    width: 71px;
    height: 71px;
}
#drop-shadow {
    box-shadow: 0px 10px 8px -4px#829D76 inset;
}