<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/small-reset.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/registration-common.css">
    <link rel="stylesheet" href="../css/sign-up.css">
    <title>Document</title>
</head>
<body>
    <header class="blue-section">
        <h1>
            <img src="../../assets/images/megarocket-logo.png" alt="MegaRocket">
        </h1>
    </header>
    <main>
        <section>
            <button id="back-btn" >
                <img src="../../assets/images/close-back.png" alt="back">
            </button>
            <h2>Register</h2>
            <form>
                <div class="container first">
                    <label>Name</label>
                    <input class="register-input" type="text">
                    <label>Last Name</label>
                    <input class="register-input" type="text">
                    <label>Email</label>
                    <input class="register-input" type="text">
                    <label>Id</label>
                    <input class="register-input" type="text">
                    <label>Birthday</label>
                    <input class="register-input" type="text">
                    <label>Password</label>
                    <input class="register-input" type="text">
                </div>
                <div class="container">
                    <div id="image-placeholder">
                        <img src="../../assets/images/camera.png" alt="camera">
                    </div>
                    <label>Telephone</label>
                    <input class="register-input" type="text">
                    <label>Address</label>
                    <input class="register-input" type="text">
                    <label>Location</label>
                    <input class="register-input" type="text">
                    <label>Postal</label>
                    <input class="register-input" type="text">
                    <label>Repeat your password</label>
                    <input class="register-input" type="text">
                </div>
            </form>
        </section>
        <button id="continue-btn" >
            continue
        </button>
    </main>
</body>
</html>