section {
    padding: 30px 7%;
    margin: 40px auto 0px auto;
    width: 60%;
    background-color: white;
}
form {
    display: flex;
    justify-content: space-between;
    align-content: space-around;
}
form div div {
    display: flex;
    /* justify-content: space-between; */
}
label {
    padding-bottom: 10px;
    color: var(--green);
}
.container {
    margin: 0 20px;
    width: 40%;
    display: flex;
    flex-flow: column;
}
.first {
    margin-top: 17px;
}
.register-input {
    margin-bottom: 30px;
    width: 80%;
    height: 45px;
    border: none;
    background-color: var(--gray);
}
.register-input:focus {
    outline: none;
}
#image-placeholder {
    margin-bottom: 20px;
    width: 100px;
    height: 90px;
    align-self: center;
    border-radius: 9999999px;
    background-color: #f4f4f4;
}
#image-placeholder img {
    margin: 33px;
}
.hidden {
    display: none;
}
.reveal {
    color: var(--error-red);
}
/* @media only screen and (max-width: 1277px) {
    form div div {
        display: contents;
        justify-content: none;
    }
    #image-placeholder {
        margin-bottom: 20px;
        width: 100px;
        height: 90px;
        align-self: center;
        border-radius: 9999999px;
        background-color: #f4f4f4;
    }
} */
.error {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.small {
    padding:0 5px;
    font-size: 12px;
}
